<footer class="footer section">
  <img class="footer-peacock footer-peacock-left" src="peacock.svg" alt="" aria-hidden="true" />
  <img class="footer-peacock footer-peacock-right" src="peacock.svg" alt="" aria-hidden="true" />
  <div class="ornament"><span></span><i>✦</i><span></span></div>
  <p class="section-kicker">Your presence is our blessing</p>
  <h2>The Kulkarni &amp; Deshmukh Families</h2>
  <p class="rsvp">RSVP &nbsp;•&nbsp; +91 98765 43210 &nbsp;•&nbsp; wedding&#64;surajarchana.in</p>
  <div class="diya-row" aria-hidden="true">🪔 🪔 🪔 🪔 🪔</div>
  <div class="corner corner-bottom-left"></div>
  <div class="corner corner-bottom-right"></div>
</footer>
